

#box{
	 position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
	    width:200px;
	    height:200px;
        background-color:lightblue;
        padding: 20px;
        border: 2px solid black;
	   text-align:center;
	


#text{
	color:purple;
	margin:70px;
	
}